In [1]:
import pandas as pd
import numpy as np

In [2]:
#PLEASE NOTE: DOWNLOADING DATA AS JSON WOULD BE PREFEREABLE...

#ADDRESS AND BUSINESS DATA

df_name = pd.read_excel(open('/Users/Thrashmore/Downloads/PublicRegisterResults.xlsx', 'rb'), 
                        sheet_name='Public Register')
df_name.columns = df_name.iloc[6]
df_name = df_name.iloc[:,:6]
df_name = df_name[7:].reset_index(drop=True)
df_name['Account Number'] = df_name['Account Number'].astype(int)


df_name.head()

6,Account Number,Account Name,Address Line 1,Address Line 2,Town / City,Postcode
0,1001,Shortlast Limited,NaN,NaN,NaN,NaN
1,10024,Phyllis Tuckwell Memorial Hospice Limited,Phyllis Tuckwell Memorial Hospice,Waverley Lane,FARNHAM,GU9 8BL
2,1006,Kelross Racing Limited,NaN,NaN,NaN,NaN
3,1008,North Wales Amusements Limited,Electric Avenue Amusement Arcade,"Towyn Road, Towyn",ABERGELE,LL22 9EP
4,10085,Leonard Cheshire Disability,Leonard Cheshire Disability,66 South Lambeth Road,LONDON,SW8 1RL

In [3]:
#TRADING NAME AND STATUS DATA

df_trading = pd.read_excel(open('/Users/Thrashmore/Downloads/PublicRegisterResults.xlsx', 'rb'), 
                        sheet_name='Trading Names')
df_trading['Account Number'] = df_trading['Account Number'].astype(int)
df_trading = df_trading.rename(columns={'Status':'Trading Status'})

df_trading.head()

   Account Number              Trading Name Trading Status
0            1001                  Pickwick         Active
1           10024  Phyllis Tuckwell Hospice         Active
2            1006            Kelross Racing         Active
3            1009       Roy Wood Automatics         Active
4             101     Bruce Kean Bookmakers         Active

In [4]:
#DOMAIN AND ACTIVITY DATA

df_domain = pd.read_excel(open('/Users/Thrashmore/Downloads/PublicRegisterResults.xlsx', 'rb'), 
                        sheet_name='Domain Names')
df_domain['Account Number'] = df_domain['Account Number'].astype(int)
df_domain = df_domain.rename(columns={'Status':'Domain Status'})

df_domain.head()

   Account Number                    Url Domain Status
0           10085   www.raffleplayer.com        Active
1            1090  www.ispiredmobile.com      Inactive
2           11572    atrvirtualowner.com   White Label
3           11572           digiturf.com        Active
4           11572         eppodromos.com      Inactive

In [5]:
#LICENSE DATA

df_licensed = pd.read_excel(open('/Users/Thrashmore/Downloads/PublicRegisterResults.xlsx', 'rb'), 
                        sheet_name='Licensed Activities')
df_licensed['Account Number'] = df_licensed['Account Number'].astype(int)
df_licensed = df_licensed.rename(columns={'Status':'License Status'})

df_licensed.head()

,Account Number,Activity,Remote Status,Department,License Status
0,1001,General Betting Limited - N,NonRemote,Betting,Granted
1,10024,Society Lottery - N,NonRemote,Lotteries,Granted
2,1006,General Betting Limited - N,NonRemote,Betting,Granted
3,1008,Gaming Machine General Adult Gaming Centre - N,NonRemote,Arcades,Surrendered
4,10085,Society Lottery - N,NonRemote,Lotteries,Granted

In [6]:
#SANCTIONS DATA

df_sanctions = pd.read_excel(open('/Users/Thrashmore/Downloads/PublicRegisterResults.xlsx', 'rb'), 
                        sheet_name='Sanctions')
df_sanctions['Account Number'] = df_sanctions['Account Number'].astype(int)
df_sanctions = df_sanctions.rename(columns={'Status':'Sanction Status'})

df_sanctions.head()

,Account Number,Sanction Status,Decision Date,Licence Type,Details
0,1799,Revoked,08/11/2018,"Remote Casino, Gambling Software and General B...","<p>Following a licence review, the Commission ..."
1,19808,Revoked,05/07/2018,Non - Remote General Betting Standard operatin...,<p>Following a licence review under section 11...
2,21759,Warning,05/02/2018,Non-Remote Society Lottery,"<p>Following a licence review, the Commission ..."
3,2969,Conditions attached to the operating licence,11/05/2018,"Non-Remote General Betting Standard, Gaming Ma...",<p>Following a licence review of the operating...
4,31812,"Warned, conditions attached with financial pen...",17/01/2019,Non-Remote Casino 1968 Act and Ancillary Remot...,<p>Following a review of the licence issued to...

In [8]:
#NOT RELEVANT FOR THIS, BUT WENT THROUGHT THE SANCTION HTML TO CHECK FOR STRUCTURE FOR FUTURE REF.

z = []
reasons = []
x = df_sanctions.Details[0]
y = x.split("</p>")
for val in y:
    val = val.replace("<p>", '')
    #full.append(val)
    new_list = val.split("<li>")
    for item in new_list:
        item = item.replace("<ul>",'').replace("</li>",'').replace("<br>",'').replace("</ul>",'')
        if item!='':
            z.append(item)
z

['Following a licence review, the Commission decided to revoke the operating licence issued to Lucky 8 Limited (the Licensee) under section 119 of the Gambling Act 2005 on the grounds that it was unsuitable to carry on the licensed activities.',
 'The Commission found that:',
 'the Licensee failed to report two key events in breach of licence condition 15.2.1.4;',
 'the Licensee failed to report key events in breach of licence condition 15.2.1.6;',
 'the Licensee had not been acting in reliance on their licence since 2011, despite repeated assurances as to when trading would begin; ',
 'satisfactory assurance in relation to the Licensee’s source of funding had not been provided; ',
 'it is unclear where management responsibility for the Licensee rests and has rested; ',
 'the Licensee failed to submit change of corporate control applications in relation to two changes in shareholdings; ',
 'it was difficult to accept that the link between the Licensee and GlobeCas (an unlicensed entity claiming the Licensee’s licence as its own) could have been made without the knowledge and consent of one of the Licensee’s directors. ']

In [9]:
#NEXT SEVERAL CELLS MERGE THE TABLES FROM THE EXCEL DOCS: EACTLY LIKE THE 'JOINS' IN SQL

df1 = pd.merge(df_name, df_trading, how='outer', on='Account Number')
df1 = df1.drop_duplicates(subset=['Account Number'])

df1.head()

,Account Number,Account Name,Address Line 1,Address Line 2,Town / City,Postcode,Trading Name,Trading Status
0,1001,Shortlast Limited,NaN,NaN,NaN,NaN,Pickwick,Active
1,10024,Phyllis Tuckwell Memorial Hospice Limited,Phyllis Tuckwell Memorial Hospice,Waverley Lane,FARNHAM,GU9 8BL,Phyllis Tuckwell Hospice,Active
2,1006,Kelross Racing Limited,NaN,NaN,NaN,NaN,Kelross Racing,Active
3,1008,North Wales Amusements Limited,Electric Avenue Amusement Arcade,"Towyn Road, Towyn",ABERGELE,LL22 9EP,NaN,NaN
4,10085,Leonard Cheshire Disability,Leonard Cheshire Disability,66 South Lambeth Road,LONDON,SW8 1RL,NaN,NaN

In [10]:
df2 = pd.merge(df1, df_domain, how='outer', on='Account Number')
df2 = df2.drop_duplicates(subset=['Account Number'])

df2.head()

,Account Number,Account Name,Address Line 1,Address Line 2,Town / City,Postcode,Trading Name,Trading Status,Url,Domain Status
0,1001,Shortlast Limited,NaN,NaN,NaN,NaN,Pickwick,Active,NaN,NaN
1,10024,Phyllis Tuckwell Memorial Hospice Limited,Phyllis Tuckwell Memorial Hospice,Waverley Lane,FARNHAM,GU9 8BL,Phyllis Tuckwell Hospice,Active,NaN,NaN
2,1006,Kelross Racing Limited,NaN,NaN,NaN,NaN,Kelross Racing,Active,NaN,NaN
3,1008,North Wales Amusements Limited,Electric Avenue Amusement Arcade,"Towyn Road, Towyn",ABERGELE,LL22 9EP,NaN,NaN,NaN,NaN
4,10085,Leonard Cheshire Disability,Leonard Cheshire Disability,66 South Lambeth Road,LONDON,SW8 1RL,NaN,NaN,www.raffleplayer.com,Active

In [11]:
df3 = pd.merge(df2, df_licensed, how='outer', on='Account Number')
df3 = df3.drop_duplicates(subset=['Account Number'])

df3.head()

,Account Number,Account Name,Address Line 1,Address Line 2,Town / City,Postcode,Trading Name,Trading Status,Url,Domain Status,Activity,Remote Status,Department,License Status
0,1001,Shortlast Limited,NaN,NaN,NaN,NaN,Pickwick,Active,NaN,NaN,General Betting Limited - N,NonRemote,Betting,Granted
1,10024,Phyllis Tuckwell Memorial Hospice Limited,Phyllis Tuckwell Memorial Hospice,Waverley Lane,FARNHAM,GU9 8BL,Phyllis Tuckwell Hospice,Active,NaN,NaN,Society Lottery - N,NonRemote,Lotteries,Granted
2,1006,Kelross Racing Limited,NaN,NaN,NaN,NaN,Kelross Racing,Active,NaN,NaN,General Betting Limited - N,NonRemote,Betting,Granted
3,1008,North Wales Amusements Limited,Electric Avenue Amusement Arcade,"Towyn Road, Towyn",ABERGELE,LL22 9EP,NaN,NaN,NaN,NaN,Gaming Machine General Adult Gaming Centre - N,NonRemote,Arcades,Surrendered
4,10085,Leonard Cheshire Disability,Leonard Cheshire Disability,66 South Lambeth Road,LONDON,SW8 1RL,NaN,NaN,www.raffleplayer.com,Active,Society Lottery - N,NonRemote,Lotteries,Granted

In [12]:
df_final = pd.merge(df3, df_sanctions, how='outer', on='Account Number')
df_final = df_final.drop_duplicates(subset=['Account Number'])

df_final.head()

,Account Number,Account Name,Address Line 1,Address Line 2,Town / City,Postcode,Trading Name,Trading Status,Url,Domain Status,Activity,Remote Status,Department,License Status,Sanction Status,Decision Date,Licence Type,Details
0,1001,Shortlast Limited,NaN,NaN,NaN,NaN,Pickwick,Active,NaN,NaN,General Betting Limited - N,NonRemote,Betting,Granted,NaN,NaN,NaN,NaN
1,10024,Phyllis Tuckwell Memorial Hospice Limited,Phyllis Tuckwell Memorial Hospice,Waverley Lane,FARNHAM,GU9 8BL,Phyllis Tuckwell Hospice,Active,NaN,NaN,Society Lottery - N,NonRemote,Lotteries,Granted,NaN,NaN,NaN,NaN
2,1006,Kelross Racing Limited,NaN,NaN,NaN,NaN,Kelross Racing,Active,NaN,NaN,General Betting Limited - N,NonRemote,Betting,Granted,NaN,NaN,NaN,NaN
3,1008,North Wales Amusements Limited,Electric Avenue Amusement Arcade,"Towyn Road, Towyn",ABERGELE,LL22 9EP,NaN,NaN,NaN,NaN,Gaming Machine General Adult Gaming Centre - N,NonRemote,Arcades,Surrendered,NaN,NaN,NaN,NaN
4,10085,Leonard Cheshire Disability,Leonard Cheshire Disability,66 South Lambeth Road,LONDON,SW8 1RL,NaN,NaN,www.raffleplayer.com,Active,Society Lottery - N,NonRemote,Lotteries,Granted,NaN,NaN,NaN,NaN

In [13]:
#FILTER FOR ACTIVE LICENSES 

df_final1 = df_final[df_final['Trading Status']=='Active']

df_final1.head()

,Account Number,Account Name,Address Line 1,Address Line 2,Town / City,Postcode,Trading Name,Trading Status,Url,Domain Status,Activity,Remote Status,Department,License Status,Sanction Status,Decision Date,Licence Type,Details
0,1001,Shortlast Limited,NaN,NaN,NaN,NaN,Pickwick,Active,NaN,NaN,General Betting Limited - N,NonRemote,Betting,Granted,NaN,NaN,NaN,NaN
1,10024,Phyllis Tuckwell Memorial Hospice Limited,Phyllis Tuckwell Memorial Hospice,Waverley Lane,FARNHAM,GU9 8BL,Phyllis Tuckwell Hospice,Active,NaN,NaN,Society Lottery - N,NonRemote,Lotteries,Granted,NaN,NaN,NaN,NaN
2,1006,Kelross Racing Limited,NaN,NaN,NaN,NaN,Kelross Racing,Active,NaN,NaN,General Betting Limited - N,NonRemote,Betting,Granted,NaN,NaN,NaN,NaN
5,1009,Roy Wood,3 Woodvale Avenue,Aspull,WIGAN,WN2 1QL,Roy Wood Automatics,Active,NaN,NaN,Gaming Machine Technical Supplier - N,NonRemote,Gaming Machine,Granted,NaN,NaN,NaN,NaN
6,101,Bruce Kean,5 Balmellie Street,NaN,TURRIFF,AB53 4DW,Bruce Kean Bookmakers,Active,NaN,NaN,General Betting Standard - A,Ancillary,Betting,Surrendered,NaN,NaN,NaN,NaN

In [14]:
#DROP SURRENDERED LICENSES

df_final2 = df_final1[df_final1['License Status']!='Surrendered'].reset_index(drop=True)
df_final2.head()

,Account Number,Account Name,Address Line 1,Address Line 2,Town / City,Postcode,Trading Name,Trading Status,Url,Domain Status,Activity,Remote Status,Department,License Status,Sanction Status,Decision Date,Licence Type,Details
0,1001,Shortlast Limited,NaN,NaN,NaN,NaN,Pickwick,Active,NaN,NaN,General Betting Limited - N,NonRemote,Betting,Granted,NaN,NaN,NaN,NaN
1,10024,Phyllis Tuckwell Memorial Hospice Limited,Phyllis Tuckwell Memorial Hospice,Waverley Lane,FARNHAM,GU9 8BL,Phyllis Tuckwell Hospice,Active,NaN,NaN,Society Lottery - N,NonRemote,Lotteries,Granted,NaN,NaN,NaN,NaN
2,1006,Kelross Racing Limited,NaN,NaN,NaN,NaN,Kelross Racing,Active,NaN,NaN,General Betting Limited - N,NonRemote,Betting,Granted,NaN,NaN,NaN,NaN
3,1009,Roy Wood,3 Woodvale Avenue,Aspull,WIGAN,WN2 1QL,Roy Wood Automatics,Active,NaN,NaN,Gaming Machine Technical Supplier - N,NonRemote,Gaming Machine,Granted,NaN,NaN,NaN,NaN
4,1012,Hugh Robert King,NaN,NaN,NaN,NaN,Hugh King,Active,NaN,NaN,General Betting Limited - N,NonRemote,Betting,Granted,NaN,NaN,NaN,NaN

In [15]:
#FILTER REMOTE STATUS (NON-UK)

df_final3 = df_final2[df_final2['Remote Status']=='NonRemote'].reset_index(drop=True)
df_final3 = df_final3.sort_values(by='Account Number', ascending=True)
df_final3.head()

,Account Number,Account Name,Address Line 1,Address Line 2,Town / City,Postcode,Trading Name,Trading Status,Url,Domain Status,Activity,Remote Status,Department,License Status,Sanction Status,Decision Date,Licence Type,Details
13,103,Harbour Park Limited,Harbour Park Ltd,"Seafront, Arun Parade",LITTLEHAMPTON,BN17 5LL,Harbour Park,Active,NaN,NaN,Gaming Machine General Adult Gaming Centre - N,NonRemote,Arcades,Granted,NaN,NaN,NaN,NaN
16,104,Paul Barratt,NaN,NaN,NaN,NaN,Paul Barratt Racing,Active,NaN,NaN,General Betting Limited - N,NonRemote,Betting,Granted,NaN,NaN,NaN,NaN
35,109,Stuart Edgar Walters,NaN,NaN,NaN,NaN,Stu Diamond,Active,NaN,NaN,General Betting Limited - N,NonRemote,Betting,Granted,NaN,NaN,NaN,NaN
36,111,Edward Frank Thompson,NaN,NaN,NaN,NaN,Ed Thompson,Active,NaN,NaN,General Betting Limited - N,NonRemote,Betting,Granted,NaN,NaN,NaN,NaN
43,114,Richard Robert Wilde,NaN,NaN,NaN,NaN,Rich Racing,Active,NaN,NaN,General Betting Limited - N,NonRemote,Betting,Granted,NaN,NaN,NaN,NaN

In [16]:
#CHECK FINAL RANGE OF ACTIVITIES TO DECIDE WHICH MUST BE INCLUDED

df_final3.Activity.unique()

array(['Gaming Machine General Adult Gaming Centre - N',
       'General Betting Limited - N', 'General Betting Standard - N',
       'Gaming Machine Technical Supplier - N', 'Casino 1968 Act - N',
       'Gaming Machine General Family Entertainment Centre - N',
       'Gaming Machine Technical Full - N', 'Bingo - N',
       'General Betting Standard - No Gaming Machines - N',
       'Society Lottery - N', 'Pool Betting - N', 'Gambling Software - N',
       'External Lottery Manager - N', 'Casino 2005 Act - N',
       'Gaming Machine Technical Software - N'], dtype=object)

In [17]:
# ACTIVITIES COVERED BY LEGISLATION: 
#Casino - R
#Bingo - R
#External Lottery Manager - R
#General Betting Standard - Virtual Event - R
#General Betting Standard - RealEvent - R
#Pool Betting - R

#IT SEEMS THEREFORE THAT THE COVERED ACTIVITIES DO NOT INCLUDE THE FOLLOWING:

drop_list = ['Gambling Software - N','Gaming Machine Technical Software - N', 'Gaming Machine Technical Supplier - N',
            'Gaming Machine Technical Full - N']

#(SINCE THESE ARE TECHNICAL B2B SERVICES IT SEEMS). PLEASE NOTE: Family Entertainment Centre WAS INCLUDED SINCE AS THEY
# MAY PROVIDE MULTIPLE CATEGORY 'C' & 'D' GAMING MACHINES AND THEREFORE REQUIRE A LICENSE:
# https://www.gamblingcommission.gov.uk/for-licensing-authorities/Licensing-authority-toolkit/Unlicensed-Family-Entertainment-Centres-UFECs.aspx

df_final4 = df_final3[~df_final3['Department'].isin(drop_list)]
df_final4 = df_final4.reset_index(drop=True)

df_final4.head()

#HERE, THIS WOULD BE THE FINAL DATASET OF BUSINESSES THAT MUST BE INCLUDED.

,Account Number,Account Name,Address Line 1,Address Line 2,Town / City,Postcode,Trading Name,Trading Status,Url,Domain Status,Activity,Remote Status,Department,License Status,Sanction Status,Decision Date,Licence Type,Details
0,103,Harbour Park Limited,Harbour Park Ltd,"Seafront, Arun Parade",LITTLEHAMPTON,BN17 5LL,Harbour Park,Active,NaN,NaN,Gaming Machine General Adult Gaming Centre - N,NonRemote,Arcades,Granted,NaN,NaN,NaN,NaN
1,104,Paul Barratt,NaN,NaN,NaN,NaN,Paul Barratt Racing,Active,NaN,NaN,General Betting Limited - N,NonRemote,Betting,Granted,NaN,NaN,NaN,NaN
2,109,Stuart Edgar Walters,NaN,NaN,NaN,NaN,Stu Diamond,Active,NaN,NaN,General Betting Limited - N,NonRemote,Betting,Granted,NaN,NaN,NaN,NaN
3,111,Edward Frank Thompson,NaN,NaN,NaN,NaN,Ed Thompson,Active,NaN,NaN,General Betting Limited - N,NonRemote,Betting,Granted,NaN,NaN,NaN,NaN
4,114,Richard Robert Wilde,NaN,NaN,NaN,NaN,Rich Racing,Active,NaN,NaN,General Betting Limited - N,NonRemote,Betting,Granted,NaN,NaN,NaN,NaN

In [18]:
#AGAIN, NOT RELEVANT HERE, BUT PULL OUT ONLY THE SANCTIONED BUSINESSES - TO HAVE A LOOK

df_final4[~df_final4['Sanction Status'].isnull()]

,Account Number,Account Name,Address Line 1,Address Line 2,Town / City,Postcode,Trading Name,Trading Status,Url,Domain Status,Activity,Remote Status,Department,License Status,Sanction Status,Decision Date,Licence Type,Details
169,841,Martin Henry Bailey,Little Leez,"100 Downham Road, Downham",BILLERICAY,CM11 1QQ,Bailey's Racing,Active,NaN,NaN,General Betting Standard - N,NonRemote,Betting,Granted,"Warned, conditions attached with financial pen...",21/11/2019,Non-remote to provide facilities for betting o...,<p>Following a review of the licence issued to...
583,5584,Michael Charles McFadden,"Unit 3, Burmarsh Workshop",Marsden Street,LONDON,NW5 3JA,V P A Entertainment Technology,Active,NaN,NaN,Gaming Machine Technical Supplier - N,NonRemote,Gaming Machine,Revoked,Revoked,01/06/2017,Non - Remote Gaming Machine Technical Supplier,<p>Following a licence review the Commission d...
725,21759,The Royal Air Forces Association,The Royal Air Forces Association,"41 Atlas House, Wembley Road, Braunstone Frith",LEICESTER,LE3 1UT,The RAF Association,Active,rafa.org.uk,Active,Society Lottery - N,NonRemote,Lotteries,Granted,Warning,05/02/2018,Non-Remote Society Lottery,"<p>Following a licence review, the Commission ..."
874,37085,Malcolm Rankin,57 Wigmore Lane,NaN,LUTON,LU2 8AB,GamezMonkey,Active,NaN,NaN,Gaming Machine Technical Supplier - N,NonRemote,Gaming Machine,Granted,Warning,05/02/2018,Gaming Machine Technical - Supplier,<p>Following a licence review the Commission h...
888,38402,Newbridge Amusements Limited,Newbridge Amusements Limited,49 Somerset Street,ABERTILLERY,NP13 1DL,Sun Valley,Active,NaN,NaN,Gaming Machine General Adult Gaming Centre - N,NonRemote,Arcades,Granted,Warning,30/05/2017,Non - Remote Gaming Machine General Adult Gami...,"<p>Following a licence review, the Commission ..."
968,47699,SHUA Limited,Content,Stanhope Street,Liverpool,L8 5XJ,Bongo's Bingo,Active,NaN,NaN,Bingo - N,NonRemote,Bingo,Granted,Warning,14/05/2018,Non - Remote Bingo,"<p>Following a licence review, the Commission ..."